.dark {
  background-color: rgba(0, 0, 0, 0.731);
  color: white;
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
  }

  .mylearning {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    background-color: rgb(86, 86, 86);
    div {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 30px;
    }
    a {
      color: rgb(0, 229, 255);
      font-size: smaller;
    }
    a:hover {
      color: rgb(255, 255, 255);
    }
  }

  .mylearningcourse {
    display: flex;
    justify-content: space-around;

    div {
      display: flex;
      justify-content: center;
      background-image: url("./assets/images/backgroundimgMylearning.webp");
      width: 23%;
      border: 1px solid rgb(141, 141, 141);
      background-color: black;

      .iconmylearing {
        background-color: rgb(193, 26, 26);
        padding: 13% 4%;
        flex: 30%;
        color: rgb(255, 255, 255);
        font-size: xx-large;
      }

      .mylearningcourse-details {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        flex: 80%;
        padding: 2%;
        background-color: rgb(37, 37, 37);
      }
    }
  }

  .slider {
    .imagslide {
      width: 100%;
      margin: 0 0 0 0%;
      opacity: 0.7;
    }
  }
}
